# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List of popular languages for data science
* Commonly used libraries used by Data Scientists 
* Open-Source data science tools
* Arithmetic expressions in Python

#### Some of the popular languages that Data Scientists use are:

1. Python
2. C++
3. Java

#### Some of the commonly used libraries used by Data Scientists include:

1. TensorFlow
2. Pandas
3. NumPy
4. Matplotlib

|Data Science Tools|
|:----:|
|Jupyter|
|Snyder|
|VS Code|

### Below are a few examples of evaluating arithmetic expressions in Python

In [6]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [7]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author

Misha Theron